{% extends 'base.html' %}

    {% block head %}
    <title>Home Page</title>
    {% endblock %}

    {% block content %}

<div class="container backcolor">
  <div class="article">
  <div class="row left-card">
    {% for announce in announcements %}
    <div class="col- sp-15">
      <div class="card" style="width: 21rem; height:18rem">
        <div class="card-body shad">
      <h4 class="card-title fon-tit">{{announce.title}}</h4><br>
      <p class="card-text fon-cont">{{announce.content | truncatewords:15}}</p><br>
      <p><h6>{{announce.create}}</h6></p>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PostReview">
          Read More...
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>

    {% endblock %}
{% include "home/post-review.html" %}
