{% extends 'base.html' %}

    {% block head %}
    <title>H.R.M.S.</title>
    {% endblock %}

    {% block content %}

<div class="container backcolor">
  <div class="article">
  <div class="row left-card">
    {% for announce in announcements %}
    {% if Announcement.active %}
      pass
    {% else %}
    <div class="col- sp-15">
      <div class="card card-style">
        <div class="card-body shad">
      <h4 class="card-title fon-tit">{{announce.title}}</h4><br>
      <p class="card-text fon-cont">{{announce.content | truncatewords:10}}</p><br>
      <p><h6>{{announce.create}}</h6></p>
      <a class="btn btn-primary btn-position" href="{% url 'post_detail' slug=announce.slug %}" role="button">
        Read More...
      </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  </div>
</div>

    {% endblock %}
