.sp-15 {
  padding: 15px;
}

.backcolor {
  background-color: #e0e0e0;
  height: auto;
  -webkit-box-shadow: 2px 0px 20px 12px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 20px 12px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 20px 12px rgba(0,0,0,0.75);
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  border: 0px solid #000000;
}

/* .backcolor2 {
  background-color: #e0e0e0;
  height: auto;
  width: 50%;
  -webkit-box-shadow: 2px 0px 20px 12px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 20px 12px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 20px 12px rgba(0,0,0,0.75);
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  border: 0px solid #000000; */

.shad {
  -webkit-box-shadow: 24px 20px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 24px 20px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 24px 20px 10px 0px rgba(0,0,0,0.75);
}

.left-card {
  padding-left: 20px;
}

.foo-pos {
  width: auto;
  font-size: 15px ;
  text-align: center;
  font-family: 'Merienda', cursive;
  background-color: #e0e0e0;
  -webkit-box-shadow: 0px 0px 23px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px 10px rgba(0,0,0,0.75);
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  border: 0px solid #000000;
}

.fon-tit {
  font-family: 'Eczar', serif;
}

.fon-cont {
  font-family: 'Playfair Display', serif;
}

.fon-navbar {
  font-family: 'El Messiri', sans-serif;
  font-size: 20px;
}

.details_post{
  padding: 30px;
}

.site-form input, .site-form textarea, .site-form label {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* .right {
  float: right;
} */

.form-style {
  padding: 10px;
}
